NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
PAYMENT_PROVIDER=pagbank
PAGBANK_TOKEN=
PAGBANK_API_URL=https://sandbox.api.pagseguro.com
NEXT_PUBLIC_APP_URL=http://localhost:3000
